{% extends 'base.html.twig' %}

{% block title %}Hello MovieDetailController!{% endblock %}

{% block header %}
    <!-- header -->
    <header class="header">
        <div class="header__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__content">
                            <!-- header logo -->
                            <a href="/" class="header__logo">
                                <img src="../../assets/img/logo.svg" alt="">
                            </a>
                            <!-- end header logo -->

                            <!-- header nav -->
                            <ul class="header__nav">
                                <!-- dropdown -->
                                <li class="header__nav-item">
                                    <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>

                                    <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuHome">
                                        <li><a href="/">Home slideshow bg</a></li>

                                    </ul>
                                </li>
                                <!-- end dropdown -->

                                <!-- dropdown -->
                                <li class="header__nav-item">
                                    <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuCatalog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>

                                    <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCatalog">
                                        <li><a href="catalog1.html">Catalog Grid</a></li>
                                        <li><a href="catalog2.html">Catalog List</a></li>
                                        <li><a href="details1.html">Details Movie</a></li>
                                        <li><a href="details2.html">Details TV Series</a></li>
                                    </ul>
                                </li>
                                <!-- end dropdown -->


                                <!-- dropdown -->
                                <li class="dropdown header__nav-item">
                                    <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-ios-more"></i></a>

                                    <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="/login">Sign In</a></li>
                                        <li><a href="/register">Sign Up</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <!-- end dropdown -->
                            </ul>
                            <!-- end header nav -->

                            <!-- header auth -->
                            <div class="header__auth">
                                <button class="header__search-btn" type="button">
                                    <i class="icon ion-ios-search"></i>
                                </button>

                                <a href="/login" class="header__sign-in">
                                    <i class="icon ion-ios-log-in"></i>
                                    <span>sign in</span>
                                </a>
                            </div>
                            <!-- end header auth -->

                            {% if is_granted('ROLE_ADMIN') %}
                                <!-- header auth -->

                                <a href="/admin" class="header__sign-in">
                                    <i class="icon ion-ios-log-in"></i>
                                    <span>Admin panel</span>
                                </a>

                                <!-- end header auth -->
                            {% endif %}

                            <!-- header menu btn -->
                            <button class="header__btn" type="button">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <!-- end header menu btn -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- header search -->
        <form action="#" class="header__search">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__search-content">
                            <input id="search_input" type="text" placeholder="Search for a movie">

                            <button id="search_button" type="button">search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- end header search -->
    </header>
    <!-- end header -->
{% endblock %}

{% block stylesheet %}

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">#}
    <link rel="stylesheet" href="../../assets/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/css/nouislider.min.css">
    <link rel="stylesheet" href="../../assets/css/ionicons.min.css">
    <link rel="stylesheet" href="../../assets/css/plyr.css">
    <link rel="stylesheet" href="../../assets/css/photoswipe.css">
    <link rel="stylesheet" href="../../assets/css/default-skin.css">
    <link rel="stylesheet" href="../../assets/css/main.css">

    <link rel="icon" type="image/png" href="../../assets/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="../../assets/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/icon/apple-touch-icon-144x144.png">

{% endblock %}

{% block javascripts %}
    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/owl.carousel.min.js"></script>
    <script src="../../assets/js/jquery.mousewheel.min.js"></script>
    <script src="../../assets/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/wNumb.js"></script>
    <script src="../../assets/js/nouislider.min.js"></script>
    <script src="../../assets/js/plyr.min.js"></script>
    <script src="../../assets/js/jquery.morelines.min.js"></script>
    <script src="../../assets/js/photoswipe.min.js"></script>
    <script src="../../assets/js/photoswipe-ui-default.min.js"></script>
    <script src="../../assets/js/main.js"></script>
{% endblock %}

{% block body %}
    <!-- details -->
    <section class="section details">
        <!-- details background -->
        <div class="details__bg" data-bg="/img/home/home__bg.jpg"></div>
        <!-- end details background -->

        <!-- details content -->
        <div class="container">
            <div class="row">
                <!-- title -->
                <div class="col-12">
                    <h1 class="details__title">{{ movie.m_title }}</h1>
                </div>
                <!-- end title -->

                <!-- content -->
                <div class="col-12 col-xl-6">
                    <div class="card card--details">
                        <div class="row">
                            <!-- card cover -->
                            <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
                                <div class="card__cover">
                                    <img src="/upload/movies/image/{{ movie.m_image }}" alt="">
                                </div>
                            </div>
                            <!-- end card cover -->

                            <!-- card content -->
                            <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                                <div class="card__content">
                                    <div class="card__wrap">
                                        <span class="card__rate"><i class="icon ion-ios-star"></i>{{ avg_rate }}</span>

                                        <ul class="card__list">
                                            <li>{{ movie.q_title }}</li>
                                            <li>{{ movie.a_title }}</li>
                                        </ul>
                                    </div>

                                    <ul class="card__meta">
                                        <li><span>Genre:</span> <a href="#">{{ movie.g_title }}</a>
                                        <li><span>Release year:</span> {{ movie.m_release_year}} </li>
                                        <li><span>Running time:</span> {{ movie.m_running_time }} min</li>
                                        <li><span>Country:</span> <a href="#">{{ movie.c_title }}</a> </li>
                                    </ul>

                                    <div class="card__description card__description--details">
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                    </div>
                                </div>
                            </div>
                            <!-- end card content -->
                        </div>
                    </div>
                </div>
                <!-- end content -->

                <!-- player -->
                <div class="col-12 col-xl-6">
                    <video controls crossorigin playsinline poster="../../../cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg" id="player">
                        <!-- Video files -->
                        {#                        <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4" size="576">#}
                        <source src="/upload/movies/video/{{ movie.m_path }}" type="video/mp4" size="720">


                        <!-- Caption files -->
                        <track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                               default>
                        <track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">

                        <!-- Fallback for browsers that don't support the <video> element -->
                        <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
                    </video>
                </div>
                <!-- end player -->


        <!-- end details content -->
    </section>
    <!-- end details -->

    <!-- content -->
    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">Reviews</h2>
                        <!-- end content title -->

{#                        <!-- content tabs nav -->#}
{#                        <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">#}
{#                       #}

{#                            <li class="nav-item">#}
{#                                <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a>#}
{#                            </li>#}

{#                        </ul>#}
{#                        <!-- end content tabs nav -->#}

                        <!-- content mobile tabs nav -->
                        <div class="content__mobile-tabs" id="content__mobile-tabs">
                            <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="Comments">
                                <span></span>
                            </div>

                            <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a></li>

                                    <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a></li>

                                    <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end content mobile tabs nav -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-8">
                    <!-- content tabs -->
                        <div class="tab-pane fade show active" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                            <div class="row">
                                <!-- reviews -->
                                <div class="col-12">
                                    <div class="reviews">
                                        <ul class="reviews__list">

                                            {% for review in reviews %}

                                                <li class="reviews__item">
                                                    <div class="reviews__autor">
                                                        <img class="reviews__avatar" src="img/user.png" alt="">
                                                        <span class="reviews__name">{{ review.r_title }}</span>
                                                        <span class="reviews__time">{{ review.r_date|date("F jS \\a\\t g:ia")}} by {{ review.u_name }}</span>

                                                        <span class="reviews__rating"><i class="icon ion-ios-star"></i>{{ review.r_rate }}</span>
                                                    </div>
                                                    <p class="reviews__text">{{ review.r_text }}</p>
                                                </li>

                                            {% endfor %}

                                        </ul>

                                        {{ form_start(form, {'attr' : {'class' : 'form'}} )}}

                                        <form action="#" class="form">
                                            {{ form_widget(form.title, {'attr' : {'placeholder' : 'Title'}}) }}
                                            {{ form_widget(form.text, {'attr' : {'placeholder' : 'Message'}}) }}
                                            <div class="form__slider">
                                                <div class="form__slider-rating" id="slider__rating"></div>
                                                <div class="form__slider-value" id="form__slider-value"></div>
                                            </div>

                                            {{ form_row(form.rate) }}

                                            {{ form_widget(form.save, {'attr' : {'class' : 'form__btn'}}) }}

                                        </form>

                                        {{ form_end(form) }}


                                    </div>
                                </div>
                                <!-- end reviews -->
                            </div>
                        </div>
                    </div>
                    <!-- end content tabs -->
                </div>

            </div>
        </div>
    </section>
    <!-- end content -->
{% endblock %}
